/* vim:set sw=2 ts=2 sts=2 expandtab: */

#camera {
  position: absolute;
  top: 10px; left: 10px;
  transform-origin: left top;
  transform: scale(0.1);
}

#cameracanvas {
  display: block;
  background-color: yellow;
}
