/* vim:set sw=2 ts=2 sts=2 expandtab: */

#camera {
  position: absolute;
  right: 10px; bottom: 10px;
  transform-origin: right bottom;
  transform: scale(0.01);
}

#photo {
  display: /*block*/none;
  background-color: yellow;
}
